%h3
  Column: #{column} (#{columns.count})
%table.table.table-condensed
  %thead
    %tr
      %th
        Table
    -columns.each do |table|
      %tr
        %td
          %a{href: "#{url_for("/tables/#{table}")}"}
            =table
  

