%h1 
  Databaste
.container
  .row
    .col-md-4
      %h2
        Tables 
      %ul
      -model.tables.each do |table|
        %li
          %a{href: "table/#{table}"}
            #{table}
    .col-md-4
      %h2
        Routines
      %ul
      -model.routines.each do |routine|
        %li
          %a{href: "routine/#{routine}"}
            #{routine}
