.container
  .row
    .col-md-4
      %h4
        Views
      -if model.views.sort.nil? || model.views.count < 1
        No Views
      -else
        %ul.list
          -model.views.sort.each do |view|
            %li
              %a.view{href: "view/#{view}"}
                #{view}
:javascript
  var options = {valueNames: [ 'tablename' ] };
  var tableList = new List('databasetables', options);
