-unless error.nil?
  .alert-error
    #{error}
.container
  .row
    .col-md-12
      %h2
        Query
      %textarea#query.query{rows:"10", name:"query", autofocus: true}
        -unless query.nil?
          =query.gsub(/^[ \t]*/, "\t")
      .submit
        %button.btn.btn-primary#submit{type:"submit", value:"Query", onClick:"javascript:run_query(get_query())"}
          Submit
  .row
    .col-md-12
      #results
:javascript
  function handle_results(data) {
    $('#results').empty();
    var headers=[], rows={}

     var rowHtml='<tr><th>'+data.columns.join('</th><th>')+'</th></tr>';
     $.each(data.data, function(idx,row) {
       rowHtml +='<tr>'
       $.each(data.columns, function(idx, col) {
         rowHtml += "<td>" + row[col] + "</td>";
       });
       rowHtml +='</tr>';
     });

     $('#results').append("<row><div class='col-md-4'><span class='h3'>Results (" + data.data.length + " rows)</span></div><div class='col-md-8'><span class='pull-right'>" + data.query + "</span></div></row>");
     $('#results').append("<row><table class='table table-condensed'>" + rowHtml + "</table></row>");
  }

  function handle_failure(status, data) {
    $('#results').empty();
    $('#results').append("<div><button class='btn btn-sm btn-danger'><span class='glyphicon glyphicon-warning-sign'></span></button><span class='lead'>" + data + "</span></div>");
  }

  function run_query(query) {
    $.ajax({
      method: "POST",
      url: "/query",
      data: {query: query}
    })
    .done(function(msg) {
      handle_results(msg);
    })
    .fail(function(xhr, status, msg) {
      handle_failure(status, xhr.responseJSON.error_message);
    });

  }

  function get_query() {
    var query = getSelection($('textarea#query')[0]);
    if(query == "") {
      query = $('textarea#query').val();
    }
    return query;
  }

  function getSelection(field) {
    return field.value.substring(field.selectionStart, field.selectionEnd);
  }
        
  $(document).keydown(function(e) {
    if(e.which == 82 && e.ctrlKey){
      run_query(get_query());
    }
  });
