-unless error.nil?
  .alert-error
    #{error}
.container
  .row
    .col-md-12
      %h2
        Query
      %textarea#query.query{rows:"10", name:"query", autofocus: true}
        -unless query.nil?
          =query.gsub(/^[ \t]*/, "\t")
      .submit
        %button.btn.btn-primary{type:"submit", value:"Query", onClick:"javascript:run_query($('textarea#query').val())"}
          Submit
  .row
    .col-md-12
      #results
:javascript
  function handle_results(data) {
    $('#results').empty();
    var headers=[], rows={}

     var rowHtml='<tr><th>'+data.columns.join('</th><th>')+'</th></tr>';
     $.each(data.data, function(idx,row) {
       rowHtml +='<tr>'
       $.each(data.columns, function(idx, col) {
         rowHtml += "<td>" + row[col] + "</td>";
       });
       rowHtml +='</tr>';
     });

     $('#results').append("<div><span class='h3'>Results (" + data.data.length + " rows)</span><span class='pull-right'>" + data.query + "</span></div>");
     $('#results').append("<table class='table table-condensed'>" + rowHtml + "</table>");
  }

  function run_query(query) {
    $.ajax({
      method: "POST",
      url: "/query.json",
      data: {query: query}
    })
    .done(function(msg) {
      handle_results(msg);
      console.log(msg);
    });
  }
        
