-unless error.nil?
  .alert-error
    #{error}
.container
  .row
    .col-md-12
      %h2
        Query
      %form{action:"/query", method:"POST"}
        %textarea#query.query{rows:"10", name:"query"}
          =query
        .submit
          %button.btn.btn-primary{type:"submit", value:"submit"}
            Submit
-unless results.nil?
  .row
    .col-md-12
      %h4
        Results
      -unless results.length < 1
        %table.table.table-condensed
          %thead
            %tr
              -results.first.keys.each do |k|
                %th
                  =k
          %tbody
            -results.each do |row|
              %tr
                -row.each do |k,v|
                  %td
                    =v
         
        
