%h1 #{table_name}
%h2 Fields
%table.table
  %thead
    %tr
      -header.keys.each do |header|
        %th
          =header
  %tbody
    -data.each do |row|
      %tr
        -header.each do |name,prop|
          %td
            .table-data
              -if prop[:link].nil?
                =prop[:value].call(row)
              -else
                %a{href:"#{prop[:link].call(row)}"}
                  =prop[:value].call(row)
%h2 Indexes
=indexes.keys

-unless table_data.nil? || table_data.length < 1
  %h2 Sample Data
  %table.table
    %thead
      %tr
        -table_data.first.each do |k,v|
          %th
            =k
    %tbody
      -table_data.each do |row|
        %tr
          -row.each do |k,v|
            %td
              =v
   
