%h1 #{table.name}
%h2 Fields
%table.table
  %thead
    %tr
      -header.each do |header|
        %th
          =header[0]
  %tbody
    -table.columns.each do |defn|
      %tr
        -header.each do |name, prop|
          %td
            .table-data
              =prop[:value].call(defn)
%h2 Indexes
=table.indexes

-unless table.data.nil? || table_data.length < 1
  %h2 Sample Data
  %table.table
    %thead
      %tr
        -table_data.first.each do |k,v|
          %th
            =k
    %tbody
      -table_data.each do |row|
        %tr
          -row.each do |k,v|
            %td
              =v
   
